/* .App {
  text-align: center;
} */
h1 {
  text-align: center;
  margin: 27px;
  color: #89CB4E;
  font-family: "Comic Sans MS";
}
body {
  background-color: #333333;
}
a {
  color: #89CB4E;
}
a:hover {
  color: #89CB4E;
}
.pending {
  padding-top: 12px;
  padding-bottom: 12px;
  color: #333333;
  background-color: #F3F5F9;
}
.completed {
  padding-top: 12px;
  padding-bottom: 12px;
  color: white;
  background-color: #89CB4E;
}
.description {
  margin: 12px;
  font-size: 24px;
  font-weight: 500;
}
.filters {
  text-align: center;
  margin-top: 14px;
}
.list {
  margin-top: 14px;
  margin-bottom: 14px;
  min-height: 324px;
}
.footer {
  text-align: center;
}
.text-footer {

  color: #fff;
  font-family: "Comic Sans MS";
}
.btn-light {
  color: #ffffff;
  background-color: #594F8D;
  border-color: #594F8D;
}